<!DOCTYPE html>
<html lang="ro" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#363636" />
    <meta name="theme-color" content="#363636" />
    {{{_sections.pageDescription}}}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ro_RO" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://static.gennerator.com/apple-touch-icon.png" />
    <link rel="icon" sizes="32x32" href="https://static.gennerator.com/favicon-32x32.png" type="image/png" />
    <link rel="icon" sizes="16x16" href="https://static.gennerator.com/favicon-16x16.png" type="image/png" />
    <link rel="manifest" href="https://static.gennerator.com/site.webmanifest" />
    <style nonce="{{{nonce}}}">
      html {
        background-color: #232323;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
      }
    </style>
    <link rel="preload" href="https://static.gennerator.com/css/style.css" as="style" />
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway:200,700&display=swap" as="style" />
    <noscript>
      <link rel="stylesheet" href="https://static.gennerator.com/css/normalize.css" />
      <link rel="stylesheet" href="https://static.gennerator.com/css/style.css" />
    </noscript>
    <script nonce="{{{nonce}}}" src="https://static.gennerator.com/js/script.js" defer></script>
    {{{_sections.pageSpecificHeader}}}
    <link rel="preload" href="https://static.gennerator.com/css/normalize.css" as="style" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
