<!DOCTYPE html>
<html lang="ro" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#363636" />
    <meta name="theme-color" content="#363636" />
    <meta name="description" content="{{{pageDescription}}}" />
    <meta property="og:title" content="{{{pageTitle}}} :: Siteul lu' Gennerator" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gennerator.com{{{pageURL}}}" />
    <meta property="og:image" content="https://gennerator.com/android-512.png" />
    <meta property="og:locale" content="ro_RO" />
    <meta property="og:description" content="{{{pageDescription}}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{{{pageTitle}}} :: Siteul lu' Gennerator</title>
    <style nonce="{{{nonce}}}">
      html {
        background-color: #232323;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
      }
    </style>
    <link rel="preload" href="/css/style.css" as="style" />
    <link rel="preload" href="/fonts/f1.woff2" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/f2.woff2" as="font" crossorigin="anonymous" />
    <noscript>
      <link rel="stylesheet" href="/css/style.css" /></noscript>
    <script nonce="{{{nonce}}}" src="/js/script.js" async></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
